body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 25px;
}
.container {
    max-width: 600px;
    margin: 20px auto;
}

span {
    color: white;
}

.selected {
    color: white;
    background-color: steelblue;
}