body {
    background-color: #232323;
    margin: 0;
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}


span {
    color: white;
}

.selected {
    color: white;
    background-color: steelblue;
}