body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 25px;
}
.container {
    max-width: 600px;
    margin: 20px auto;
}

span {
    color: white;
}

.selected {
    color: white;
    background-color: steelblue;
}

button {
    border: none;
    background-color: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    outline: none;
}

button:hover {
    color: white;
    background-color: steelblue;
}